@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <br /><a asp-page="/MyForm/Form"> My Form (Cloud DB) </a>
    <br /><a asp-page="/Customers/Index"> Scaffolded Form (Local DB) </a>
</div>
